<section>
  <p>Welcome to Our Wee Saas, a company by humans and for humans.</p>
  <br />
  <p>
    We are on a mission to build products that empower individuals and
    businesses to be more human-centric, solving real-world problems with
    empathy and understanding.
  </p>
  <h2 class="mb-3 mt-8 text-lg font-bold">What we do</h2>
  <ul>
    <li class="my-2">
      <strong>For the vulnerable: </strong>We create products that are
      accessible and inclusive, ensuring that the most vulnerable individuals
      are protected from predatory practices in the digital world.
    </li>
    <li class="my-2">
      <strong>For small businesses: </strong>We build software that will help
      you grow and succeed while maintaining a human touch and staying away from
      tech giants.
    </li>
  </ul>
</section>
